PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/hotel_db?schema=public"
JWT_SECRET="your-jwt-secret-key"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="your-jwt-refresh-secret-key"
JWT_REFRESH_EXPIRES_IN="7d"

# Redis & Elastic
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""
ELASTICSEARCH_NODE="http://localhost:9200"

# SMTP Mail Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="Hotel Management <noreply@hotelmanagement.vn>"

# OTP mặc định (Dev / Test)
DEFAULT_OTP=123456
